<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="DB_HD.Properties.Settings.HelpdeskConnectionString" connectionString="Data Source=.;Initial Catalog=Helpdesk;user id=sa;password=sa@01" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="~/inicio.aspx" loginUrl="~/login.asxp"></forms>
    </authentication>

    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Controles"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <add namespace="Microsoft.VisualBasic"/>
      </namespaces>
      <controls>
        <add assembly="Controles" namespace="Controles.Web" tagPrefix="ctl"/>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="inicio.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>